
mongo --host ${host} --port 28020 <<EOF

   use  admin
   # 串联路由服务器与分配副本集
   sh.addShard("shard1/${host}:28005,${host}:28006,${host}:28007")
   sh.addShard("shard2/${host}:28008,${host}:28009,${host}:28010")
   sh.addShard("shard3/${host}:28011,${host}:28012,${host}:28013")
EOF


